{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1 class="h3 mb-3 font-weight-normal">Inscription</h1>

    <div class="text-center mt-5 ">
        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.lastname, {'attr': {'class': 'form-control', 'autofocus': true}}) }}
        {{ form_row(registrationForm.firstname, {'attr': {'class': 'form-control'}}) }}
        {{ form_row(registrationForm.allergies, {'attr': {'class': 'form-control'}}) }}
        {{ form_row(registrationForm.email, {'attr': {'class': 'form-control', 'autocomplete': 'email'}}) }}
        {{ form_row(registrationForm.plainPassword, {'attr': {'class': 'form-control', 'autocomplete': 'new-password'}}) }}
        {{ form_row(registrationForm.agreeTerms) }}
        <p>Déjà inscrit ?<span><button><a href="{{ path('login') }}">Se connecter</a></button></span></p>
       {#  <button type="submit" class="btn">Register</button>#}
        {{ form_end(registrationForm) }}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('registration') }}">

    </div>

{% endblock %}


